<%- include(`./partials/header.ejs`)%>
<!-- create1 -->
     <div class="parrentdiv">
        <div class="central-div">
            <h1 class="create-heading">
                Add your Story
            </h1>
            <a href="createnow"><button class="create-button">
                Create Now
            </button></a>
        </div>
    </div>
<!-- create1 -->
<%- include(`./partials/footer.ejs`)%>