<%- include(`./partials/header.ejs`)%>
<!-- whocreated -->
    <div class="homepage">
        <div class="aboutme">
            <div class="nika">            
                <img src="/image/nika.jpg" alt="nikoloz_ebralidze" class="nikoloz">
                <h2 class="name" style="font-size: 2rem;">Nikoloz Ebralidze</h2>
                <h3 class="name">Full stack Developer</h3>
                <div style="width: 30%; background-color: #ffd700; height: 3px;"></div>
            </div>
            <p class="paragraph" style="font-size: 18px;">
                I am Nikoloz Ebralidze, a web developer, studying mathematics at TSU. I am studying full stack web development on Udemy course with Angela Yu. I can code in html, css, javascript, node.js, express.js and also know several libraries. I have written a lot of code and several multifunctional websites. I am also a digital marketer, which I learned on the TBC course and I can manage social media networks, create content, advertise on Meta and Google platforms.
            </p>

            <div class="contact">
                <div style="width: 30%; background-color: #ffd700; height: 3px;"></div>
                <div class="mysocmedia">
                    <a href="https://www.facebook.com/profile.php?id=100008705560337"><img src="image/facebook.gif" alt="facebook" class="img"></a>
                    <a href="https://github.com/NikaEbraLidze"><img src="image//github.png" alt="github" class="img"></a>
                    <a href="https://www.linkedin.com/in/nika-ebralidze-812431329/"><img src="image/linkedin.png" alt="linkedin" class="img"></a>
                    <a href="mailto:nikaebralidze21@gmail.com"><img src="image/mail.png" alt="gmail" class="img"></a>
                </div>
            </div>
        </div>
    </div>
<!-- whocreated -->
<%- include(`./partials/footer.ejs`)%>